/node_modules
/public/hot
/public/storage
/public/assets/admin/fonts/
/storage/*.key
/storage/*.pdf
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
package-lock.json
.idea
.idea/*
.idea/homestead.iml
.idea/php.xml
composer.lock
/.idea/php.xml
.idea
.idea/*
idea
/.env.local
/.env
/public/*
